    /*
    Flaticon icon font: Flaticon
    Creation date: 05/06/2019 18:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-room:before { content: "\f100"; }
.flaticon-bed:before { content: "\f101"; }
.flaticon-family:before { content: "\f102"; }
.flaticon-living-room:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-compass:before { content: "\f105"; }
.flaticon-kitchen:before { content: "\f106"; }
.flaticon-door:before { content: "\f107"; }
.flaticon-mode:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }
    
    $font-Flaticon-room: "\f100";
    $font-Flaticon-bed: "\f101";
    $font-Flaticon-family: "\f102";
    $font-Flaticon-living-room: "\f103";
    $font-Flaticon-placeholder: "\f104";
    $font-Flaticon-compass: "\f105";
    $font-Flaticon-kitchen: "\f106";
    $font-Flaticon-door: "\f107";
    $font-Flaticon-mode: "\f108";
    $font-Flaticon-close: "\f109";
    $font-Flaticon-edit: "\f10a";