	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/06/2019 18:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-room:before { content: "\f100"; }
.flaticon-bed:before { content: "\f101"; }
.flaticon-family:before { content: "\f102"; }
.flaticon-living-room:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-compass:before { content: "\f105"; }
.flaticon-kitchen:before { content: "\f106"; }
.flaticon-door:before { content: "\f107"; }
.flaticon-mode:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }