<div class="container-fluid">
   <div class="row mb-2">
      <!-- <div class="col-md-8">Filter settings</div> -->
      <div class="col">
         <div class="p-2">
            <button class="float-right add-property" mdbBtn type="button" routerLink="/dashboard/add-property"
               color="elegant" mdbWavesEffect>Add Property</button>
         </div>
      </div>
   </div>
   <div class="row p-2">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <div class="position-absolute">
            <ng-container *ngFor="let chip of filterForm | keyvalue">
               <span *ngIf="(chip.value && chip.value.length > 0)"
                  class="badge badge-pill badge-dark p-2 fa-sm m-1 badge-cus">
                  <!-- {{ propertyEnum.filterName | json }} -->
                  {{ propertyEnum.filterName[chip.key] }}
                  <!-- {{getChip(chip)}} -->
                  <i class="fas fa-times pl-1 remove-clip" (click)="removeFilter(chip.key)"></i></span>
            </ng-container>
         </div>
      </div>
      <div class="col-md-2">
         <div class="row">
            <div class="float-right">
               <span class="pagination d-inline" (click)="paginationEvent(false)">&laquo;</span>
               <span>1-{{propertyList.count ? propertyList.count : 0 }} of
                  {{propertyList.total.value ? propertyList.total.value : 0}}</span>
               <span class="pagination d-inline" (click)="paginationEvent(true)">&raquo;</span>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2">
         <div class="card filter-card">
            <h6 class="card-header stylish-color-dark lighten-1 white-text text-uppercase">Filter</h6>
            <div class="card-body">
               <div class="search-by-name">
                  <input mdbInput type="text" name="propertyTitle" placeholder="Search by Property Name"
                     (keyup)="bySearch($event)" (keypress)="bySearch($event)" class="form-control">
               </div>
               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('cityCheckBox')">
                     <select>
                        <option>By City</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="cityCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="ci.id" name="city" [default]="true"
                        *ngFor="let ci of propertyEnum.city">{{ci.key}}</mdb-checkbox>
                  </div>
               </div>
               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('roomTypeCheckBox')">
                     <select>
                        <option>Room Type</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="roomTypeCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="roomType.id" name="roomType"
                        [default]="true" *ngFor="let roomType of propertyEnum.roomType">{{roomType.key}}</mdb-checkbox>
                  </div>
               </div>

               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('bedLocationCheckBox')">
                     <select>
                        <option>Bed Location</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="bedLocationCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="bedLocation.id" name="bedLocation"
                        [default]="true" *ngFor="let bedLocation of propertyEnum.bedLocation">{{bedLocation.key}}
                     </mdb-checkbox>
                  </div>
               </div>

               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('bhkCheckBox')">
                     <select>
                        <option>BHK Type</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="bhkCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="bhk.id" name="bhkType" [default]="true"
                        *ngFor="let bhk of propertyEnum.bhkType">{{bhk.key}}</mdb-checkbox>
                  </div>
               </div>


               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('availabiltyCheckBox')">
                     <select>
                        <option>Availabilty</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="availabiltyCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="ava.id" name="availabilty"
                        [default]="true" *ngFor="let ava of propertyEnum.availabilty">{{ava.key}}</mdb-checkbox>
                  </div>
               </div>

               <div class="multiselect">
                  <div class="selectBox" (click)="showCheckboxes('facingCheckBox')">
                     <select>
                        <option>Facing</option>
                     </select>
                     <div class="overSelect"></div>
                  </div>
                  <div class="checkboxes p-2" id="facingCheckBox">
                     <mdb-checkbox (change)="formChangeEvent($event)" [value]="fac.id" name="facing" [default]="true"
                        *ngFor="let fac of propertyEnum.facing">{{fac.key}}</mdb-checkbox>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="col-md-10 row p-1">
         <!-- property-div -->

         <div *ngFor="let property of propertyList.propertyList" class="col-md-3 card-deck">
            <!--Card-->
            <mdb-card cascade="true" wider="true" class="cards">
               <!--Card image-->

               <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-carousel class="carousel slide carousel-fade" data-interval="false" [animation]="'fade'">
                     <mdb-carousel-item *ngFor="let image of property.s3BucketImg;let i = index">
                        <div class="view w-100">
                           <img class="d-block w-100" src="{{image.Location}}" alt="property_{{i}}">
                           <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                     </mdb-carousel-item>
                  </mdb-carousel>
                  <ng-container>
                     <mdb-badge *ngIf="property.isPublished" success="true">Published</mdb-badge>
                     <mdb-badge *ngIf="!property.isPublished" danger="true">UnPublished</mdb-badge>
                  </ng-container>
               </div>
               <!--/Card image-->

               <mdb-card-body cascade="true" class="text-center position-relative">
                  <!-- <div class="edit-icon">A</div> -->
                  <div class="col edit-pen">
                     <div class="row">
                        <mdb-icon class="edit-icon" fas mdbTooltip="Edit" placement="left"  (click)="editProperty(property._id)" icon="pen"></mdb-icon>
                        <!-- <i mdbTooltip="Edit" placement="left" class="flaticon-edit"></i> -->
                     </div>
                     <div class="row">
                        <i *ngIf="!property.isPublished" mdbTooltip="Publish{{ property.propertyTitle }}" (click)="changeStatus(property._id,true)"  placement="right" class="flaticon-mode pubunpub"></i>
                        <i *ngIf="property.isPublished" mdbTooltip="UnPublish {{ property.propertyTitle }}" placement="right" (click)="changeStatus(property._id,false)" class="flaticon-close pubunpub"></i>
                     </div>
                  </div>


                  <!--Card content-->
                  <!--Title-->

                  <h4 class="card-title">
                     <strong>{{property.propertyTitle}}</strong>
                  </h4>

                  <div class="row">
                     <div class="col">
                        <div>Rent</div>
                        <h5 class="indigo-text d-inline-block">
                           <strong>Rs {{property.rent}}</strong>
                        </h5>
                     </div>
                     <div class="col">
                        <div>Deposit</div>
                        <h5 class="indigo-text d-inline-block">
                           <strong>Rs {{property.deposit}}</strong>
                        </h5>
                     </div>
                  </div>

                  <mdb-card-text>
                     <div class="container">
                        <div class="row">
                           <div class="col">
                              <i mdbTooltip="Room Type" placement="left" class="flaticon-room icon-margin"></i>
                              <p class="text-center">{{getPropertyName(property.roomType,'roomType')}}</p>
                           </div>

                           <div class="col">
                              <i mdbTooltip="BHK Type" placement="right" class="flaticon-living-room icon-margin"></i>
                              <p class="text-center">{{getPropertyName(property.bhkType,'bhkType')}}</p>
                           </div>

                           <div class="w-100"></div>

                           <div class="col">
                              <i mdbTooltip="Availabilty" placement="left" class="flaticon-family icon-margin"></i>
                              <p class="text-center">{{getPropertyName(property.availabilty,'availabilty')}}</p>
                           </div>

                           <div class="col">
                              <i mdbTooltip="Location" placement="right" class="flaticon-placeholder icon-margin"></i>
                              <p class="text-center">{{property.locationDetails.city}}</p>
                           </div>

                           <div class="w-100"></div>

                           <div class="col">
                              <i mdbTooltip="Bed Location" placement="left" class="flaticon-bed icon-margin"></i>
                              <p class="text-center">{{getPropertyName(property.bedLocation,'bedLocation')}}</p>
                           </div>

                        </div>
                     </div>
                  </mdb-card-text>

               </mdb-card-body>
               <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
         </div>

      </div>
   </div>
</div>