/* .property-card{
    max-width: 350px;
} */

.property-div {
  padding-bottom: 20px;
}

.add-property {
  border-radius: 24px;
}

.edit-icon {
  position: absolute;
    top: 7px;
    right: 40px;
    cursor: pointer;
}

.filter-card {
  min-height: 500px
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: 400;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  position: absolute;
  z-index: 1;
  background: rgb(255, 255, 255);
  width: 82%;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

.multiselect {
  padding-top: 20px
}

.search-by-name>input {
  padding: 5px;
  font-size: 13px;
}


.remove-clip :focus {
  cursor: pointer;
}

.badge-cus {
  display: inline-flex,
}

.icon-margin::before {
  margin-left: 2px
}

.pagination {
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.cards{
  margin-bottom: 0;
  margin-top: 18px;
}

.edit-pen {
  position: absolute;
    top: 0;
    right: 0;
    
}

.pubunpub{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.pubunpub::before{
  margin: 0;
}