<div draggable="true" ngClass="{{dragAreaClass}}">
  <div class="row row pt-2">
    <div class="col-md-12 text-center box">
      <div class="browse">
        <a href="javascript:void(0)" (click)="file.click()">
          Click to browse
        </a>
        Or Drag & Drop to upload your files
        <input type="file" #file [multiple]="(maxFiles > 1)" (change)="onFileChange($event)" style="display:none" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="content">
    <div class="p-2 position-relative" *ngFor='let url of urls;let i = index'>
      <div class="view overlay">
        <img [src]="url.Location" height="100" alt="smaple image">
        <div *ngIf="i == 0" class="mask flex-center rgba-red-strong">
          <p class="white-text">Cover Image</p>
        </div>
        <mdb-icon class="delete-icon red-text shadow hover-img" (click)="deleteImg(i)" fas icon="trash-alt"></mdb-icon>
      </div>
      <!-- <img [src]="url" height="100"> -->
      <!-- <mdb-icon class="delete-icon red-text shadow hover-img" (click)="deleteImg(i)" fas icon="trash-alt"></mdb-icon> -->
    </div>
  </div>
</div>