.dragarea {
  font-size: 24px;
  border: 3px solid #bbb;
  /* padding: 20px; */
  background-color: #eeeeee;
  color: #bbb;
}

.droparea {
  font-size: 24px;
  border: 3px dashed #bbb;
  /* padding: 20px; */
  background-color: #eff;
  color: #aaa;
}

.box {
  height: 135px;
  /* border: 1px solid darkgray; */
  text-align: center;
  /* background-color: #eeeeee; */
}

.browse{
    top: 36%;
    position: absolute;
    left: 20%;
}

.delete-icon{
    position: absolute;
    top: 10px;
    right: 9px;
}

.hover-img{
    cursor: pointer;
}

.content{
    display: contents;
}