<div class="container property-add-container">
  <!-- <div class="row">
    <div class="col-md-3 p-2">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">
          <div>50%</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <!-- <div class="col-md-3 list-group">
      <a class="list-group-item waves-light" (click)="changePropertyDetails(1,1)"
        [ngClass]="activeProperty == 1 ? 'active' : ''" mdbWavesEffect>
        <mdb-icon class="fas p-1" icon="home"></mdb-icon>Property Details
      </a>
      <a class="list-group-item list-group-item-action waves-light" (click)="changePropertyDetails(2,1)"
        [ngClass]="activeProperty == 2 ? 'active' : ''" mdbWavesEffect>
        <mdb-icon class="fas p-1" icon="map-marker-alt"></mdb-icon>Location Details
      </a>
      <a class="list-group-item list-group-item-action waves-light" (click)="changePropertyDetails(3,2)"
        [ngClass]="activeProperty == 3 ? 'active' : ''" mdbWavesEffect>
        <mdb-icon class="fas p-1" icon="rupee-sign"></mdb-icon>Rental Details
      </a>
      <a class="list-group-item list-group-item-action waves-light" (click)="changePropertyDetails(4,3)"
        [ngClass]="activeProperty == 4 ? 'active' : ''" mdbWavesEffect>
        <mdb-icon class="fas p-1" icon="camera-retro"></mdb-icon>Gallery
      </a>
      <a class="list-group-item list-group-item-action waves-light" (click)="changePropertyDetails(5,4)"
        [ngClass]="activeProperty == 5 ? 'active' : ''" mdbWavesEffect>
        <mdb-icon class="fas p-1" icon="hot-tub"></mdb-icon>
        Amenities
      </a>
    </div> -->
    <div class="col-md-3 list-group">
    <ul class="list-group">
        <li class="list-group-item" (click)="changePropertyDetails(1,1)"
        [ngClass]="activeProperty == 1 ? 'active' : ''" mdbWavesEffect>
          <i class="fas fa-home mr-4 pr-3"></i> Property Details
        </li>
        <li class="list-group-item" (click)="changePropertyDetails(2,1)"
        [ngClass]="activeProperty == 2 ? 'active' : ''" mdbWavesEffect>
          <i class="fas fa-map-marker-alt mr-5"></i> Location Details
        </li>
        <li class="list-group-item" (click)="changePropertyDetails(3,2)"
        [ngClass]="activeProperty == 3 ? 'active' : ''" mdbWavesEffect>
          <i class="fas fa-rupee-sign mr-5"></i> Rental Details
        </li>
        <li class="list-group-item" (click)="changePropertyDetails(4,3)"
        [ngClass]="activeProperty == 4 ? 'active' : ''" mdbWavesEffect>
          <i class="fas fa-camera-retro mr-5"></i> Gallery
        </li>
        <li class="list-group-item" (click)="changePropertyDetails(5,4)"
        [ngClass]="activeProperty == 5 ? 'active' : ''" mdbWavesEffect>
          <i class="fas fa-hot-tub mr-5"></i> Amenities
        </li>
      </ul>
    </div>
    <div class="col-md-7 property-card">
      <mdb-card>
        <mdb-card-body>
          <form [formGroup]="propertyForm" novalidate>
            <!-- Property Details -->
            <div *ngIf="activeProperty == 1" [ngClass]="activeShake == 1 ? 'shake' : ''">
              <mdb-card-title>
                <h5>Provide details about property</h5>
              </mdb-card-title>
              <div class="dropdown-divider"></div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="details-p">
                      <p><strong>Property Name*</strong></p>

                      <!-- <div class="md-form"> -->
                      <input mdbInput type="text" id="propertyTitle" formControlName="propertyTitle"
                        class="form-control">
                      <!-- <label for="propertyTitle" class="">Property Name</label> -->
                      <!-- </div> -->
                    </div>
                    <div class="details-p">
                      <p><strong>Room Type*</strong></p>
                      <select formControlName="roomType" class="browser-default custom-select">
                        <option [ngValue]="roomType.id" *ngFor="let roomType of propertyEnum.roomType">{{roomType.key}}
                        </option>
                      </select>
                    </div>


                    <div class="details-p">
                      <p><strong>Availabilty Type*</strong></p>
                      <select formControlName="availabilty" class="browser-default custom-select">
                        <option [ngValue]="availabilty.id" *ngFor="let availabilty of propertyEnum.availabilty">
                          <mdb-checkbox [default]="true">{{availabilty.key}}</mdb-checkbox>
                        </option>
                      </select>
                    </div>

                    <div class="details-p">
                      <!-- <div class="md-form"> -->
                      <p><strong>Property Size*</strong></p>

                      <input mdbInput type="number" id="propertySize" formControlName="propertySize"
                        class="form-control">
                      <mdb-badge class="sqft" info="true">Sq ft</mdb-badge>
                      <!-- <label for="propertySize" class="">Property Size</label> -->
                      <!-- </div> -->
                    </div>

                  </div>
                  <div class="col">
                    <div class="details-p">
                      <p><strong>Bed Location*</strong></p>
                      <select formControlName="bedLocation" class="browser-default custom-select">
                        <option [ngValue]="bedLocation.id" *ngFor="let bedLocation of propertyEnum.bedLocation">
                          {{bedLocation.key}}
                        </option>
                      </select>
                    </div>
                    <div class="details-p">
                      <p><strong>BHK Type</strong></p>
                      <select formControlName="bhkType" class="browser-default custom-select">
                        <option [ngValue]="bhkType.id" *ngFor="let bhkType of propertyEnum.bhkType">{{bhkType.key}}
                        </option>
                      </select>
                    </div>
                    <div class="details-p">
                      <p><strong>No of Availabilty*</strong></p>
                      <div formControlerName="noOfAvailabilty" class="value pt-2">
                        {{propertyForm.get('noOfAvailabilty').value}}
                        Rooms
                      </div>
                      <input  type="range" min="1" max="20" step="1" [value]="propertyForm.get('noOfAvailabilty').value" (change)="noOfAvailabiltyChange($event)">
                    </div>
                    <div class="details-p">
                      <p><strong>Facing</strong></p>
                      <select formControlName="facing" class="browser-default custom-select">
                        <option [ngValue]="facing.id" *ngFor="let facing of propertyEnum.facing">{{facing.key}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button mdbBtn type="button" color="elegant"
                  [disabled]="!(propertyForm.get('propertySize').valid && propertyForm.get('propertyTitle').valid)"
                  size="sm" (click)="savePropertyDetails(1)" mdbWavesEffect>Save</button>
              </div>
            </div>

            <!--End Property Details -->

            <!-- Location Details -->
            <div *ngIf="activeProperty == 2" [ngClass]="activeShake == 2 ? 'shake' : ''">
              <mdb-card-title>
                <h5>Provide location details</h5>
              </mdb-card-title>
              <div class="dropdown-divider"></div>
              <div class="container" formGroupName="locationDetails">
                <div class="row">
                  <div class="col">
                    <div class="details-p">
                      <p><strong>City*</strong></p>
                      <select formControlName="city" class="browser-default custom-select">
                        <option [ngValue]="city.id" *ngFor="let city of propertyEnum.city">{{city.key}}
                        </option>
                      </select>
                    </div>
                    <div class="details-p">
                      <p><strong>Street/Area*</strong></p>
                      <textarea formControlName="area" type="text" id="form7" class="md-textarea form-control"
                        mdbInput></textarea>
                    </div>
                  </div>
                  <div class="col">
                    <div class="details-p md-form">
                      <p><strong>Locality*</strong></p>
                      <input (keydown)="searchLocality()" formControlName="locality"
                        class="form-control mr-sm-2 autocomplete" type="text" placeholder="Search">
                      <div id="myInputautocomplete-list" class="autocomplete-items">
                        <ng-container *ngFor="let locality of localitySet">
                          <div (click)="getPlaceDetail(locality.place_id)" class="grey-text p-2">
                            <p>
                              {{locality.structured_formatting.main_text}}</p>
                            <p>{{locality.structured_formatting.secondary_text}}
                            </p>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">

                <button mdbBtn type="button" color="blue-grey" size="sm" (click)="goBack()" mdbWavesEffect>Back</button>

                <button mdbBtn type="button" color="elegant" [disabled]="!(propertyForm.get('locationDetails').get('area').valid && 
                propertyForm.get('locationDetails').get('locality').valid)" size="sm" (click)="savePropertyDetails(2)"
                  mdbWavesEffect>Save</button>
              </div>
            </div>
            <!--End Location Details -->


            <!-- Rental Details -->
            <div *ngIf="activeProperty == 3" [ngClass]="activeShake == 3 ? 'shake' : ''">
              <mdb-card-title>
                <h5>Provide rental details about property</h5>
              </mdb-card-title>
              <div class="dropdown-divider"></div>
              <div class="container">
                <div class="row">
                  <div class="col">

                    <div class="details-p">
                      <p><strong>Expected Rent*</strong></p>
                      <input mdbInput type="number" placeholder="Enter Amount" id="rent" formControlName="rent"
                        class="form-control">
                      <mdb-badge class="sqft" info="true">Monthly</mdb-badge>
                    </div>

                    <div class="details-p">
                      <p><strong>Furnishing*</strong></p>
                      <select formControlName="furnisedType" class="browser-default custom-select">
                        <option [ngValue]="furnisedT.id" *ngFor="let furnisedT of propertyEnum.furnisedType">
                          {{furnisedT.key}}
                        </option>
                      </select>
                    </div>

                  </div>

                  <div class="col">
                    <div class="details-p">
                      <p><strong>Expected Deposit*</strong></p>
                      <input mdbInput type="number" placeholder="Enter Amount" id="deposit" formControlName="deposit"
                        class="form-control">
                    </div>

                    <div class="details-p">
                      <p><strong>Preferred Tenants*</strong></p>
                      <select formControlName="tenants" class="browser-default custom-select">
                        <option [ngValue]="tenant.id" *ngFor="let tenant of propertyEnum.tenants">
                          {{tenant.key}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button mdbBtn type="button" color="blue-grey" size="sm" (click)="goBack()" mdbWavesEffect>Back</button>

                <button mdbBtn type="button" color="elegant"
                  [disabled]="!(propertyForm.get('rent').valid && propertyForm.get('deposit').valid)" size="sm"
                  (click)="savePropertyDetails(3)" mdbWavesEffect>Save</button>
              </div>
            </div>

            <!--End Rental Details -->


            <!-- Image Details -->
            <div *ngIf="activeProperty == 4" [ngClass]="activeShake == 4 ? 'shake' : ''">
              <mdb-card-title>
                <h5>Get 100% more responses by adding photos of your property.</h5>
              </mdb-card-title>
              <div class="dropdown-divider"></div>
              <div class="container">
                <div class="row">
                  <div class="col">

                    <app-file-upload [imagesUrl]="s3BucketImg"></app-file-upload>

                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button mdbBtn type="button" color="blue-grey" size="sm" (click)="goBack()" mdbWavesEffect>Back</button>

                <!-- [disabled]="!(propertyForm.get('images').valid && propertyForm.get('images').value.length > 0)" -->
                <button mdbBtn type="button" color="elegant"
                  size="sm" (click)="savePropertyDetails(4)" mdbWavesEffect>Save</button>
              </div>
            </div>
            <!--End Image Details -->

            <!-- Aminity Details -->
            <div *ngIf="activeProperty == 5" [ngClass]="activeShake == 5 ? 'shake' : ''">
              <mdb-card-title>
                <h5>Provide additional details about your property to get maximum visibilty.</h5>
              </mdb-card-title>
              <div class="dropdown-divider"></div>
              <div class="container" formGroupName="propertyInfo">
                <div class="row">
                  <div class="col">
                    <div class="details-p">
                      <mdb-checkbox formControlName="AC" [default]="true">AC</mdb-checkbox>
                    </div>
                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="waterFacility">Water Facility</mdb-checkbox>
                    </div>
                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="TV">TV</mdb-checkbox>
                    </div>
                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="securityAvailable">Security Available
                      </mdb-checkbox>
                    </div>

                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="geyser">Geyser</mdb-checkbox>
                    </div>



                  </div>
                  <div class="col">

                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="hasKitchen">Has Kitchen</mdb-checkbox>
                    </div>

                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="wifi">Wifi</mdb-checkbox>
                    </div>


                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="electricityRent">Electricity Rent</mdb-checkbox>
                    </div>

                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="CCTV">CCTV</mdb-checkbox>
                    </div>

                    <div class="details-p">
                      <mdb-checkbox [default]="true" formControlName="visitorParking">Visitor Parking</mdb-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button mdbBtn type="button" color="blue-grey" size="sm" (click)="goBack()" mdbWavesEffect>Back</button>

                <button mdbBtn type="button" color="elegant"
                  size="sm" (click)="savePropertyDetails(5)" mdbWavesEffect>Save</button>
              </div>
            </div>
            <!--End Aminity Details -->

            <div *ngIf="activeProperty == 6">
              <mdb-card-title>
              </mdb-card-title>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="details-p alignCenter">
                      <mdb-icon  (click)="publishProperty($event)" class="publish-btn" fas size="4x" icon="paper-plane"></mdb-icon>
                      <div> Publish your property</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="view" [ngClass]="callingApi ? 'showLoder' : ''">
            <div class="mask flex-center rgba-black-light waves-effect waves-light">
              <app-loader></app-loader>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>