.add-property-list {
  display: flex;
}

.property-card {
  flex: 0 0 75%;
  max-width: 75%;
}

.property-add-container {
  margin: 30px;
}

.details-p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-v-line {
  position: absolute;
  border-left: 1px solid rgba(0,0,0,.125);
  height: 50px;
  top:0px;
  left:54px;
  }
  
select {
  width: 70%
}
.alignCenter{
  text-align: center;
}
.publish-btn{
  cursor: pointer;
}
.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 800px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #2e2e2e;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .2s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #2e2e2e;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}


.sqft {
  position: relative;
  float: right;
  top: -28px;
  right: 7px;
}

.showLoder {
  position: inherit !important;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 84%;
  left: 0;
  right: 0;
  /* height: 40%; */
}

.autocomplete-items div {
  /* padding: 10px; */
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div p {
    /* padding: 10px; */
    font-size: 12px;
    padding: 0px;
    padding-left: 2px;
    margin: 0px;
    font-weight: 700;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.label-secondary{
    font-size: 12px;
}
