
#main-content {
    z-index: 1;
    transition: all 0.3s ease;
    padding-top: 15px;
    // background-color: $mdc-theme-primary;
}

@media (min-width: 960px) {
    #main-content {
        margin-left: 80px;
    }
}