.login-form {
  width: 60%;
  margin: 0 auto;
}

.login-form .font-small {
  font-size: 0.8rem; }

.login-form .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.login-form input[type=number]:focus:not([readonly]) {
  border-bottom: 1px solid #2e2e2e;
  -webkit-box-shadow: 0 1px 0 0 #2e2e2e;
  box-shadow: 0 1px 0 0 #2e2e2e; 
}

.login-form input[type=number]:focus:not([readonly]) + label {
  color: #4f4f4f; 
}


.login-form input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #2e2e2e;
  -webkit-box-shadow: 0 1px 0 0 #2e2e2e;
  box-shadow: 0 1px 0 0 #2e2e2e;
}


.login-form input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; 
}

.submit-btn{
  width: 50%;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.view {
  height: 100vh !important;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}