<div class="view jarallax" data-jarallax='{"speed": 0.1}'
  style="background-image: url(http://dewan.co.in/slider-images/7.jpg?1556668800041);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center login-form">
            <!--Form with header-->
            <mdb-card>
              <!--Header-->
              <div class="header pt-3 grey lighten-2">
                <div class="row d-flex justify-content-start">
                  <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5"><strong>BROKER LOGIN</strong></h3>
                </div>
              </div>
              <!--Header-->
              <mdb-card-body class="mx-4 mt-4">
                <!--Body-->
                <form [formGroup]="loginForm" novalidate>

                  <div class="md-form">
                    <input type="number" id="brokerNo" class="form-control" formControlName="mobile" mdbInput>
                    <mdb-error *ngIf="loginForm.get('mobile').touched && loginForm.get('mobile').hasError('pattern')">
                      Invalid Phone Number</mdb-error>
                    <mdb-error
                      *ngIf="loginForm.get('mobile').touched && loginForm.get('mobile').invalid && !loginForm.get('mobile').hasError('pattern')">
                      Enter Phone Number</mdb-error>
                    <label for="brokerNo">Phone Number</label>
                  </div>

                  <div class="md-form pb-3">
                    <input type="password" id="brokerPassword" class="form-control" formControlName="password" mdbInput>
                    <label for="brokerPassword">Password</label>
                    <mdb-error *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">Enter
                      Password</mdb-error>

                    <!-- <p class="font-small grey-text d-flex justify-content-end">Forgot -->
                    <!-- <a href="#" class="dark-grey-text font-weight-bold ml-1"> Password?</a> -->
                    <!-- </p> -->
                  </div>

                </form>

                <div class="text-center mb-4 submit-btn">
                  <button mdbBtn type="button" color="elegant" mdbWavesEffect block="true" class="z-depth-2"
                    [disabled]="!loginForm.valid" (click)="brokerLogin($event)">Login</button>
                </div>
                <!-- <p class="font-small grey-text d-flex justify-content-center">Don't have an account? -->
                <!-- <a href="#" class="dark-grey-text font-weight-bold ml-1"> Sign up</a> -->
                <!-- </p> -->
              </mdb-card-body>
            </mdb-card>
            <!--/Form with header-->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="alert alert-success" role="alert">
  asdasdasd
</div> -->